.card-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    border: 1px black solid;
    border-radius: 20px;
    background-color: bisque;
    transition: 200ms;  

    width: 200px;
    height: 270px;

    padding: 10px 10px 16px 10px;

    img{
        height: 140px;
        width: 200px;

        aspect-ratio: 200 / 140;
        object-fit: cover;
        border-radius: 16px;
    }

    .product-description{
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-top: 6px;

        p{
            margin: 0;
        }
        h3{
            text-align: center;
            margin: 0;
            font-weight: 500;
        }
        .smalltext{
            font-size: 14px;
        }

        hr{
            border: 1px black solid;
            width: 98%;
            margin: 10px 0 0 0;
        }


        .price{
            font-size: 20px;
        }
        .havediscount{
            font-size: 16px;
            text-decoration: line-through;
            color: red;
        }
        .discount{
            font-size: 20px;
            color: green;
            line-height: 20px;
        }
    }
}

.card-component:hover{
    background-color: rgb(255, 206, 147);
    transition: 200ms;
}