<div class="card-component" [routerLink]="['/', productObject.ID]">
    <img src="{{productObject.image}}" alt="รูปภาพ {{productObject.name}}">
    <div class="text-product">
        <h3>{{productObject.name}}</h3>
        <p class="inline">
            <span [class.oldprice]="productObject.discount > 0">{{productObject.price}} บาท</span>
            <span *ngIf="productObject.discount > 0" class="discount showdiscount">{{productObject.price * (1-(productObject.discount/100))}} บาท</span>
        </p>
    </div>
</div>