<div class="new-product-component">
    <h2>เพิ่มสินค้าใหม่ของคุณ</h2>
    <div >
        
        <form [formGroup]="newProductForm" (ngSubmit)="submitNewProduct()">
            <div class="two-column">
                <img class="width-screen-image" src="{{imageURL}}" alt="URL ที่ระบุไม่มีภาพของสินค้า">
                <div class="forminput">
                    <img class="mobile-screen-image" src="{{imageURL}}" alt="URL ที่ระบุไม่มีภาพของสินค้า">

                    <p>
                        <span>ชื่อสินค้า : </span>
                        <input 
                            autocomplete="off" 
                            required 
                            formControlName="name" 
                            type="text"
                            [class.invalid]="newProductForm.controls['name'].invalid && newProductForm.controls['name'].touched"
                        >
                    </p>
            
                    <p>
                        <span>url รูปภาพ : </span>
                        <input
                            autocomplete="off"
                            required
                            formControlName="image"
                            (keyup)="imageInputOnchange($event.target)"
                            type="text"
                            [class.invalid]="newProductForm.controls['image'].invalid && newProductForm.controls['image'].touched"
                        >
                    </p>
            
                    <p>
                        <span>ราคา (บาท) : </span>
                        <input 
                            autocomplete="off" 
                            required 
                            formControlName="price" 
                            type="number" 
                            min="1"
                            [class.invalid]="newProductForm.controls['price'].invalid && newProductForm.controls['price'].touched"
                        >
                    </p>
                    
                    <p>
                        <span>ส่วนลด (%) : </span>
                        <input 
                            autocomplete="off" 
                            required 
                            formControlName="discount" 
                            type="number" 
                            max="99" 
                            min="0"
                            [class.invalid]="newProductForm.controls['discount'].invalid && newProductForm.controls['discount'].touched"
                        >
                    </p>
                    
                    <p>
                        <span>รายละเอียด : </span>
                        <input 
                            autocomplete="off" 
                            required 
                            formControlName="description" 
                            type="text"
                            [class.invalid]="newProductForm.controls['description'].invalid && newProductForm.controls['description'].touched"
                        >
                    </p>
                    
                    <p>
                        <span>ชื่อผู้ขาย : </span>
                        <input 
                            autocomplete="off" 
                            required 
                            formControlName="seller" 
                            type="text"
                            [class.invalid]="newProductForm.controls['seller'].invalid && newProductForm.controls['seller'].touched"
                        >
                    </p>
                        
            
                    <p>
                        <span>ประเภท : </span>
                        <select formControlName="category">
                            <option value="เกี่ยวกับสัตว์เลี้ยง">เกี่ยวกับสัตว์เลี้ยง</option>
                            <option value="เครื่องใช้ไฟฟ้า">เครื่องใช้ไฟฟ้า</option>
                            <option value="ไอที">ไอที</option>
                            <option value="ของใช้ยิบย่อยในบ้าน">ของใช้ยิบย่อยในบ้าน</option>
                            <option value="ของใช้ส่วนตัว">ของใช้ส่วนตัว</option>
                            <option value="อื่นๆ">อื่นๆ</option>
                        </select>
                    </p>
                </div>
            </div>

            <div class="button-bar">
                <button type="submit">เพิ่มสินค้า</button>
                <button type="reset" routerLink="/">ยกเลิก</button>
            </div>
        </form>
    </div>
</div>