<div class="product-list-component">
    <div class="top-menu">
        <button routerLink="/newproduct">+ เพิ่มสินค้าใหม่ของคุณ</button>
        <div class="select-bar">
            <select (change)="changeSort($event.target)">
                <option value="name">ชื่อ</option>
                <option value="price">ราคา</option>
            </select>
            
            <select (change)="changeOrder($event.target)">
                <option value="ASC">น้อยไปมาก</option>
                <option value="DESC">มากไปน้อย</option>
            </select>
        </div>
    </div>
    <div class="display-product">
        <div *ngFor="let product of productList">
            <app-product-card
                [productObject] = "product"
            ></app-product-card>
        </div>
    </div>
</div>