@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;500;600;700&display=swap');

body{
    font-family: 'Mitr', serif;
    background-color: rgb(255, 244, 230);
    padding: 0;
    margin: 0;

    input, button, textarea, select, option{
        font-family: 'Mitr', serif;
    }

    padding-bottom: 20px;
}